@use "../util/" as *;

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: rem(18);
  font-weight: 700;
}

h2 {
  font-size: rem(14);
}

body {
  font-family: var(--font-family);

  @include breakpoint(medium-large) {
    display: grid;
    place-items: center;
    width: 95vw;
    height: 95vh;
  }
}

p {
  font-size: rem(12.5);
}
