@use "../util/" as *;

.main-card {
  background: var(--text-color1);

  @include breakpoint(medium-large) {
    padding: rem(9) rem(13) 0;
  }
}

.title {
  margin: 0.7rem rem(20) rem(15);

  @include breakpoint(medium-large) {
    margin-left: rem(5);
    margin-right: rem(5);
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: rem(13);
}

.card2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: rem(5);
  padding: rem(7);
  margin: 0 rem(20);
  height: rem(40);

  @include breakpoint(medium-large) {
    margin-left: rem(5);
    margin-right: rem(5);
  }

  &__reaction {
    background-color: var(--reaction-bg);
  }

  &__memory {
    background-color: var(--memory-bg);
  }

  &__verbal {
    background-color: var(--verbal-bg);
  }

  &__visual {
    background-color: var(--visual-bg);
  }

  &__test {
    display: flex;
    align-items: center;
  }

  &__number {
    display: inline-block;
    margin-left: rem(6);

    &--reaction {
      color: var(--light-red);
    }
    &--memory {
      color: var(--orange-yellow);
    }
    &--verbal {
      color: var(--green-teal);
    }
    &--visual {
      color: var(--cobalt-blue);
    }
  }

  &__score {
    opacity: 0.5;
  }
}
